AI News in Discord DM Delivery.json
{
  "name": "AI News in Discord DM Delivery - Public Version",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-544, 80],
      "id": "manual-trigger-id",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/tag/artificial-intelligence/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-224, 80],
      "id": "rss-reader-id",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize this AI news in 1-2 lines.\nBe concise and clear.\nNo numbering.\n\nNews:\n{{$json[\"title\"]}} - {{$json[\"contentSnippet\"]}}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are a sharp AI news analyst.\n\nYour job:\nSummarize each news item in 1-2 lines.\n\nRules:\n- Be clear and concise\n- No fluff\n- Focus on impact\n\nFormat EXACTLY like this:\n\n1. Title\n→ Summary\n→ Why it matters\n\nNews:\n{{$json[\"title\"]}} - {{$json[\"contentSnippet\"]}}",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [352, 80],
      "id": "ai-agent-id",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [432, 304],
      "id": "gemini-model-1-id",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let message = \"🔥 AI NEWS TODAY\\n\\n\";\n\nitems.forEach((item, index) => {\n  const content = item.json.output || \"No data\";\n\n  message += `${index + 1}. ${content}\\n\\n`;\n});\n\nreturn [{ json: { message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [704, 80],
      "id": "js-code-message-id",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/REDACTED_WEBHOOK_ID/REDACTED_WEBHOOK_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{$json.message ? JSON.stringify($json.message) : \"\\\"No data\\\"\"}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [928, 80],
      "id": "http-request-id",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\n\nconst unique = items.filter(item => {\n  const title = item.json.title;\n  if (seen.has(title)) return false;\n  seen.add(title);\n  return true;\n});\n\nreturn unique.slice(0, 5);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [128, 80],
      "id": "js-deduplication-id",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [208, 288],
      "id": "gemini-model-2-id",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [[{ "node": "RSS Read1", "type": "main", "index": 0 }]]
    },
    "RSS Read1": {
      "main": [[{ "node": "Code in JavaScript1", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 1 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]]
    },
    "Code in JavaScript": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "Code in JavaScript1": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
